table{
    border-collapse: collapse;
    width: 100%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #333;
    border: 1px solid #ccc;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    border-radius: 10px;
}
table thead tr{
    background-color: #333;
    color: #fff;
}
table thead tr th{
    padding: 10px;
    text-align: left;
}
table tbody tr td{
    padding: 10px;
}
table tbody tr:nth-child(odd){
    background-color: #eee;
}
table tbody tr:hover{
    background-color: #ddd;
}
table tbody tr td a{
    color: #333;
    text-decoration: none;
}
table tbody tr td a:hover{
    color: #000;
    text-decoration: underline;
}
table tbody tr td button{
    padding: 10px;
    margin-right: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #fff;
    background-color: #333;
    transition: all 0.3s ease;
}
table tbody tr td button:hover{
    background-color: #000;
}
table tbody tr td button a{
    color: #fff;
    text-decoration: none;
}
table tbody tr td button a:hover{
    color: #fff;
    text-decoration: none;
}
table tbody tr td button.edit{
    background-color: #333;
}
table tbody tr td button.delete{
    background-color: #ff0000;
}
table tbody tr td button.edit:hover{
    background-color: #000;
}
table tbody tr td button.delete:hover{
    background-color: #ff3333;
}
table tfoot{
    border-top:1px solid #ccc;
}
table tfoot tr td{
    padding: 10px;
    text-align: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #333;
}
table tfoot tr td button{
    padding: 10px;
    margin-right: 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    background-color: #fff;
    color: #333;
    transition: all 0.3s ease;
}

